<launch>
  <!-- Start Geofrenzy Node -->
  <node name="gf_server_168" pkg="geofrenzy" type="gf_server" args="_gf_class_index:=168" output="screen" />
  <param name="gf_server_168/geojson_file" type="str" value="/home/woundzoom/catkin_ws/src/laelaps_2dnav/samplefences/playground_fences.json" />

  <!-- Start Geofrenzy Map Server -->
  <node name="gf_map_server_168" pkg="geofrenzy" type="gf_map_server" args="_gf_class_index:=168" output="screen">
    <remap from="gf_map_server_168/geofrenzy/map" to="/map"/>
    <remap from="gf_map_server_168/geofrenzy/map_metadata" to="/map_metadata"/>
  </node>
</launch>
