<launch>

	<node name="gf_node_29" pkg="geofrenzy" type="gf_node" args="29" respawn="true" />
	<node name="gf_node_59" pkg="geofrenzy" type="gf_node" args="59" respawn="true" />
	<node name="gf_node_74" pkg="geofrenzy" type="gf_node" args="74" respawn="true" />
	<node name="gf_node_70" pkg="geofrenzy" type="gf_node" args="70" respawn="true" />
	<node name="gf_node_71" pkg="geofrenzy" type="gf_node" args="71" respawn="true" />
	<node name="gf_node_72" pkg="geofrenzy" type="gf_node" args="72" respawn="true" />
	<node name="fake_GPS" pkg="geofrenzy" type="gf_gps_test"  respawn="true" />
	<node name="gf_color_mux" pkg="geofrenzy" type="color_mux_node.py" respawn="true"/>
</launch>
