<launch>

	<node name="gf_node_70" pkg="geofrenzy" type="gf_node" args="70" />
	<node name="gf_node_71" pkg="geofrenzy" type="gf_node" args="71" />
	<node name="gf_node_72" pkg="geofrenzy" type="gf_node" args="72" />
	<node name="gf_color_node" pkg="geofrenzy" type="gf_color_node" />
	<node name="GPS" pkg="nmea_navsat_driver" type="nmea_serial_driver" args="_port:=/dev/nd-105-c _baud:=4800" respawn="true"/>
	<node pkg="tf" type="static_transform_publisher" name="gfmap_broadcaster" args="0 0 0 0 0 0  earth map 100" />
</launch>
