<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for ArduPilotMega based FCU's -->

	<arg name="fcu_url" default="/dev/ttyACM0:57600" />
	<arg name="gcs_url" default="" />
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />

	<remap from="fix" to="mavros/global_position/global" />
	<remap from="gps" to="mavros/global_position/global" />

	<include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
	</include>


	<param name="geojson_file" value="/home/ubuntu/geojsonsamples/office.json" />

	<node name="GFServer" pkg="geofrenzy" type="gf_map_server" respawn="true" >
	</node>
	
	<node name="GFScanner" pkg="geofrenzy" type="MapToLaser" respawn="true" />
	<node name="gf_color_node" pkg="geofrenzy" type="gf_color_node" />
	<node name="entitlement_to_blink_node" pkg="geofrenzy" type="EntitlementToBlink" respawn="true" />

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin">
    <param name="local_xy_frame" value="map"/>
    <param name="~local_xy_origin" value="auto"/>
  </node>

	<node pkg="tf" type="static_transform_publisher" name="base_link_base_laser_broadcaster" args="0.1 0 0.1 0 0 0  base_link base_laser 100" />
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom  100" />
	<node pkg="tf" type="static_transform_publisher" name="map_to_local_origin" args="0 0 0 0 0 0 map local_origin  100" />
	<node pkg="tf" type="static_transform_publisher" name="fcu_to_base_link" args="0 0 0 0 0 0 fcu base_link 100" />


</launch>
